* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Sora', sans-serif;
  background-color: rgb(240, 230, 230);
  font-weight:bold ;
}
header {
  min-width: 100vh;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  font-size: 150%;
}
header >img {
 width: 5%;
}
section.proyecto {
  display: grid;
  gap: 25px;
  max-height: 70px;
  margin: 10px;
  grid-template-columns: repeat(3, 1fr);
}
div {
  border-color: black;
  border-style: solid;
  border-width: 0.01em;
  border-radius: 3%;
  padding: 0.3em;
  text-align: center;
}
section.electrodomesticos {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 10px;
}
.electrodomesticos > div{
  max-width:100%;
  max-height:100% ;
}
.electrodomesticos {
  min-width: 50vh;
}
img{
  max-width: 20%;
}
section.totales {
  min-width: 100vh;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 190%;
}
footer {
  font-size: 10px;
  margin-left: 10px;
}